#main{height:100%}
.w3-top,.w3-bottom{position:sticky;width:100%;z-index:0}.w3-top{top:0}.w3-bottom{bottom:0}
.w3-animate-alt-left{position:relative;animation:animatealtleft 0.4s}@keyframes animatealtleft{from{left:0;opacity:1} to{left:-300px;opacity:0}}
.app-container{height:100%}
html, body
{
    height: 100%;
}
